.intro {
  margin-top: 150px;
  padding: 0 150px;
  position: relative;
  display: flex;
  background: #fffcf8;
}
.intro-left {
  flex: 55%;
  box-sizing: border-box;
}
.intro-box {
  display: flex;
  flex-direction: column;
  /* max-width: 41.875rem; */
  max-width: 100%;
}

.intro-content {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.intro-content > :nth-child(1) {
  font-weight: 400;
  font-size: 0.875rem;
  padding: 0 0.625rem;
  border-radius: 15px;
  width: fit-content;
  background-color: #ffe8c3;
  color: #df7430;
  margin-bottom: 1rem;
}
.intro-content > :nth-child(2) {
  font-weight: 600;
  font-size: 3.75rem;
  color: #0f0f0f;
  line-height: 78px;
}

.intro-content > :nth-child(3) {
  margin-top: 0.625rem;
  font-weight: 400;
  font-size: 1.125rem;
  color: #575757;
  /* max-width: 37.063rem; */
  max-width: 90%;
  line-height: 28.8px;
}
.intro-content > :nth-child(4) {
  margin-top: 1.25rem;
}

.intro-right {
  flex: 45%;
  position: relative;
  overflow: hidden;
}
.intro-right .spork {
  height: 680px;
  margin: auto;
  margin-top: 40px;
  overflow: hidden;
  border-radius: 0px 0px 25px 65px/255px 225px 25px 252px;
}
.intro-right .spork > img {
  height: 100%;
  transform: scale(1.1);
  object-fit: contain;
}

@media (max-width: 75em) {
  /* For Tab-land  75em= 1200px/16px */

  .intro {
    padding: 0 50px;
  }
  .intro-box {
    padding-left: 0rem;
  }
  .intro-content {
    margin-top: 100px;
  }
  .break {
    display: none;
  }
}

@media (max-width: 56.25em) {
  /* For Tab-port  56.25em= 900px/16px */

  .intro {
    display: block;
    text-align: center;
  }
  .intro-box {
    max-width: 50rem;
    padding: 3rem;
  }

  .intro-content {
    margin-top: 80px;
    margin-bottom: 3rem;
    align-items: center;
  }
  .intro-right {
    display: none;
  }
}

@media (max-width: 37.5em) {
  /* For phone 37.5em= 600px/16px */

  .intro {
    display: block;
    text-align: center;
    padding: 0;
  }
  .intro-box {
    max-width: 50rem;
    padding: 1rem;
  }

  .intro-content {
    margin-top: 50px;
    margin-bottom: 3rem;
  }
  .break {
    display: none;
  }
  .intro-content > :nth-child(2) {
    font-size: 2.5rem;
    color: #0f0f0f;
    line-height: 48px;
  }
  .intro-content > :nth-child(4) {
    margin: auto;
    margin-top: 2rem;
  }
  .intro-right {
    display: none;
  }
}
