.button {
  font-weight: 400;
  font-size: 1rem;
  color: #fae9cd;
  background: #df7430;
  width: 14.24rem;
  height: 4rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button:hover {
  background: black;
}
.button-disabled {
  font-weight: 400;
  font-size: 1rem;
  color: #fae9cd;
  background: #df7430;
  width: 14.24rem;
  height: 4rem;
  border: none;
  cursor: pointer;
  background: #dadde7;
}
.inverted {
  font-weight: 400;
  font-size: 1rem;
  background: #fae9cd;
  color: #df7430;
  width: 14.24rem;
  height: 4rem;
  border: none;
  cursor: pointer;
}

@media (max-width: 37.5em) {
  /* For phone 37.5em= 600px/16px */
  .button {
    width: 14.24rem;
    height: 3rem;
  }

  .button-disabled {
    width: 14.24rem;
    height: 3rem;
  }
  .inverted {
    width: 14.24rem;
    height: 3rem;
  }
}
