.form-input {
  position: relative;
  max-height: 74px;
}
.error-star {
  position: absolute;
  top: 0;
  right: -20px;
  color: rgb(195, 48, 48);
  transform: scale(0.6);
}
.close {
  display: none;
}
input {
  height: 100%;
  width: 100%;
  display: block;
  background: none;
  border: none;
  color: #1d2939;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 25px 20px;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  user-select: none;
}
.form-input input:focus {
  outline: none;
}
.d-input {
  padding-right: 40px;
}

.form-input .f-label {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #8f98a9;
  transition: all 0.15s ease-in-out;
  pointer-events: none;
}
.form-input figure {
  position: absolute;
  top: -7px;
  right: -25px;
  font-size: 1.86rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #8f98a9;
  transition: all 0.15s ease-in-out;
  /* pointer-events: none; */
  cursor: pointer;
}
.form-input input:focus ~ .f-label,
.form-input input:valid ~ .f-label {
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 20px;
  color: #8f98a9;
  background: #fffcf8;
  padding: 5px;
  transform: translate(0px, -40px);
}

.form-input .dropdown {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
  position: absolute;
  bottom: -180px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #8f98a9;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #f0f0f0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown .dropdown-item {
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}

.dropdown .dropdown-item:hover {
  background: #999;
  color: #f0f0f0;
}
