@import url("general-sans.css");

.App {
  font-family: "General Sans", sans-serif;
  box-sizing: border-box;
  font-style: normal;
  max-width: 1512px;
  margin: auto;
  background: #fffcf8;
}
@media (max-width: 75em) {
  /* For Tab-land  75em= 1200px/16px */
  html {
    /* font-size: 56.25%; */
  }
  .App {
    width: 1200px;
  }
}
@media (max-width: 56.25em) {
  /* For Tab-port  56.25em= 900px/16px */
  html {
    /* font-size: 50%; */
  }
  .App {
    width: 900px;
  }
} /* 1rem = 8px; 8px/16 = 50% */

@media (max-width: 37.5em) {
  /* For phone 37.5em= 600px/16px */
  html {
    /* font-size: 31.25%; */
  }
  .App {
    width: 600px;
  }
}
/* 1rem = 4px; 5px/16 = 31.25% */

@media (min-width: 112.5em) {
  /* For big-desktop 112.5em= 1800px/16px */
  html {
    font-size: 75%;
  }
  .App {
    width: 1800px;
  }
} /* 1rem = 12px; 12px/16 = 75% */
